name: Container Security Scan

on:
  pull_request:
    branches: [ main, develop ]
  schedule:
    - cron: "0 4 * * *"

jobs:
  trivy-fs-scan:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Trivy
        uses: aquasecurity/trivy-action@0.24.0
        with:
          scan-type: "fs"
          ignore-unfixed: true
          format: "table"
          exit-code: "1"
          severity: "CRITICAL,HIGH"
          scan-ref: "."

