name: Node Audit

on:
  schedule:
    - cron: "0 5 * * *"
  workflow_dispatch: {}

jobs:
  audit:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: "npm"

      - name: Install root deps
        run: npm install

      - name: npm audit
        run: npm audit --audit-level=high || true

