name: Terraform Security

on:
  pull_request:
    branches: [ main, develop ]
    paths:
      - "infra/terraform/**"
  push:
    branches: [ main, develop ]
    paths:
      - "infra/terraform/**"

jobs:
  tfsec-checkov:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: "1.9.0"

      - name: Install tfsec
        run: |
          curl -s https://raw.githubusercontent.com/aquasecurity/tfsec/master/scripts/install_linux.sh | bash

      - name: Run tfsec
        run: |
          tfsec infra/terraform

      - name: Install Checkov
        run: |
          pip install checkov

      - name: Run Checkov
        run: |
          checkov -d infra/terraform

